{{#partial "body"}}
    <div class="alert alert-danger center_alert_forbidden" role="alert">
        <h4 class="alert-heading">Prohibido</h4>
        <p>Vaya, parece que esta intentando entrar a una zona prohibida.</p>
        <hr>
        <p class="mb-0">Por favor intente iniciar nuevamente la sesion y volver a realizar la operacion</p>
    </div>
{{/partial}}
{{>encabezadoBase.hbs}}